<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<br>
	<br>
	<div class="container py-5">
		<div class="card bg-ligth">
			<div class="card-body">
				<form class="form-inline my-2 my-lg-0"
					th:action="@{/fotos/buscar/}+${busqueda}" method="get">
					<input class="form-control mr-sm-2" type="search"
						th:value="${busqueda}" placeholder="Buscador..." name="busqueda"
						id="busqueda" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container py-4">
		<div class="card-title">
			Total:
			<div th:text="${total}"></div>
		</div>
		<h4 class="card-title">
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/fotos/form}"
				class="btn btn-primary btn-xs">Crear foto</a>
		</h4>
		<div class="card-columns">
			<div class="card" th:each="foto:${fotos}">
				<td><img th:if="${#strings.length(foto.foto)>0}"
					class="img-thumbnail rounded" th:alt="${foto.foto}"
					th:src="@{'uploads/'}+ ${foto.foto}" /></td>
				<div class="card-body">
					<h5 class="card-title">
						<a class="link" th:href="@{/fotos/ver/} + ${foto.id}"
							th:text="${foto.nombre}"></a>
					</h5>
					<div class="card-text">
						<div>
							Nombre: <span class="card-title" th:text="${foto.nombre}"></span>
						</div>
					</div>

					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-primary btn-xs"
							th:href="@{/fotos/ver/} + ${foto.id}" th:text="${foto.id}"></a> <a
							class="btn btn-primary btn-xs"
							th:href="@{/fotos/form/} + ${foto.id}" th:text="Editar"></a> <a
							class="btn btn-danger btn-xs"
							th:href="@{/fotos/eliminar/} + ${foto.id}" th:text="Eliminar"
							onClick="return confirm('Estas Seguro que quieres eliminar?');"></a>
					</div>
					<div>
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<small class="text-muted">Creacion <span
								th:text="${foto.createAt}"></span></small>
						</div>
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<small class="text-muted">Ultima actualizacion <span
								th:text="${foto.LastUpdate}"></span></small>
						</div>
					</div>
				</div>

			</div>
		</div>
		<nav th:replace="paginator-nav :: paginator"></nav>
	</div>

	<footer th:replace="layout/layout :: footer"> </footer>

</body>
</html>